* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
}
.nav_bar {
  background-color: #ce7c7c;
  padding: 10px 0;
  text-align: center;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar ul li {
  display: inline-block;
  margin: 0 15px;
}

.nav_bar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav_bar ul li a:hover {
  background-color: #555;
  color: #ddd;
}

/* CSS cho div bao ngoài */
.main_content {
  display: flex;
  height: 200px;
  align-items: center;
  margin-top: 50px;
  justify-content: space-evenly;
}

.form_addCate {
  width: 35%;
}
.form_addCate_item {
  position: relative;
  top: 300px;
}
.form_addCate table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a.btn.btn-success {
  background-color: #3993a4;
  border: none;
}
a.btn.btn-success:hover {
background-color: #000000;

}


.form_addCate th,
.form_addCate td {
  padding: 12px;
  text-align: center;
  background-color: #f2f2f2;
}

.form_addCate th {
  background-color: #000000;
  color: white;
  font-weight: bold;
}

.form_addCate input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_addCate button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_addCate button:hover {
  background-color: #45a049;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_category {
  width: 40%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}
.list_category {
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
}

.list_category table {
  width: 100%;
  border-collapse: collapse;
}

.list_category th,
.list_category td {
  padding: 8px;
  text-align: left;
  border: 1px dashed #f0f0f0;
}
.list_category th {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

/* ----------------- */
